@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
html, body {
 
  height: auto;
  overflow-x: hidden;
  text-align: center;
  margin:0px;  
  font-family: Raleway;
  color: rgb(0, 0, 0);
  letter-spacing: 1px ;
  min-height: 100vh;
  
  
}

.logout{
  color:#fff;
  text-align: center;
  padding-top: 5%;
}
main{
  min-height: 100vh;
}
.itemslist{
  color: #fffbfb;
  text-align: center;
  

}

.jobrate{
  margin-top: 5%;
}

.card-form {
  width: 40%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
}
.card-form .form-title {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: #024e5c;
  border-radius: 10px 10px 0 0;
}
.card-form .form-body {
  padding: 10px;
}
.card-form .form-body .row {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.card-form .form-body .row input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}
.card-form .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}
.card-form .form-footer a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #27ae60;
  margin-right: 10px;
  font-size: 14px;
}
.card-form .form-footer span {
  margin-left: 8px;
}
.nav{
  background-color: rgb(230, 224, 224);
  padding: 5px 5px 5px 5px ; 
  border-bottom: 3px solid #414141;
  margin-bottom: 3%;
  
  
}

.nav_bottom{
background-color: rgb(230, 224, 224);
padding: 5px 5px 5px 5px ; 
border-bottom: 3px solid #414141;
border-top: 3px solid #414141;
margin-bottom: 5%;
margin-top: 3%;
}

.bezel_e{
  background:rgb(65, 65, 65);
  padding: 5px 5px 15px 5px ; 
  width: 35%;
  border-radius: 25px;
  display: inline-block;
}

.bezel_time{
  background:rgb(65, 65, 65);
  padding: 5px 5px 15px 5px ; 
  width: 35%;
  border-radius: 25px;
  display: inline-block;

}
@media only screen and (max-width: 1400px) {
  .bezel_time{
    width:40%;
  }
@media only screen and (max-width: 1200px) {
  .bezel_time{
    width:40%;
  }
}
@media only screen and (max-width: 1000px) {
  .bezel_time{
    width:65%;
  }
}
@media only screen and (max-width: 800px) {
  .bezel_time{
    width:75%;
  }
}
@media only screen and (max-width: 600px) {
  .bezel_time{
    width:100%;
  }
}
}